body{
    background: rgb(228, 88, 88);
    margin: auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif; 
}

.foto {
    border: 2px solid black;
    border-radius: 50%;
    margin-left: 627px;
    margin-top: 50px;
    padding: 0;
}


#titulo, .subtitulo, .titulo_de_postagem {
    color: rgb(25, 97, 91);
}

#titulo {
    font-size: 40px;
    text-transform: uppercase;
    margin-left: 410px;
    padding: 0;
}

.a {
    text-decoration: overline;
    color: black;
}

.subtitulo{
    font-size: 25px;
    margin-left: 627px;
    padding:0;
}

.titulo_de_postagem {
    text-transform: capitalize;
    font-size: 16px;
    margin: 0;
    margin-left: 415px;
}

.post {
    background:cornflowerblue;
    padding: 5px;
    border: 3px solid black;
    margin: 0;
    margin-right: 339px;
    margin-left: 331px;
    float: left;
}

.img_html {
    float: left;
    margin-top: -105px;
    margin-right: 18px;
    margin-left: -18px;
    
}

.conteudo {
    margin-top: 105px;
    margin-left: 15px;
    margin-bottom: 50px;
    font-size: 17px;
    text-align: center;
    
}

.email{
    margin-left: 550px;
    list-style-type: none;
    font-size: 12px;
    padding: 0;
}

.email li a{
    color: darkblue;
}